// _variables.scss

$theme-white: #fff;

$theme-black: #111;

$theme-beige: #DCC1AB;

$theme-green: #1B5B31;

$theme-gray: #F5F0EC;

$gradient: linear-gradient(360deg, #DCC1AB 0%, rgba(214, 183, 158, 0.00) 100%);

// animate
$transition-all: all .2s ease-in; 
